* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body{
    font-family: 'Noto Serif Display', serif;
}

.container {
    display: flex;
    text-align: center;
    height: 100vh;
}

/* ----------------Gestion des côtés de page index ------------------ */

.left {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    animation-name: left;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
    /* background-color: #85c9994d; */
    background-color: #0e161be0;
}

.right {
    flex: 1;
    background-color: black;
    transition: 1s;
    background-image: url("https://images2.imgbox.com/d5/d3/EPKgqyNE_o.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    color: #cd701c;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px #333;
}


.header h2 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 15px;
    color: #cd6f1c88;
    margin-bottom: 10px;
}

form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

/* ----------------Bouton * ------------------ */

form button{
background-image: linear-gradient(to right, #cd701c  0%, #cebe62   51%, #cd701c   100%);
margin: 10px;
width: 340px;
border: 0;
padding: 12px 10px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;           
border-radius: 3px;
font-weight: 500;
letter-spacing: 2px;
font-family: 'Noto Serif Display', serif;
color: #fff;
cursor: pointer;
}


form button:hover {
background-position: right center;
color: #fff;
text-decoration: none;
}

/* ----------------Animation de la page d'accueil ------------------ */

.animation {
    animation-name: move;
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-delay: 1.5s;
}

.a1 {
    animation-delay: 1.5s;  
}

.a2 {
    animation-delay: 1.6s;
}

.a3 {
    animation-delay: 1.7s;
}

.a4 {
    animation-delay: 1.8s;
}

.a5 {
    animation-delay: 1.9s;
}

.a6 {
    animation-delay: 2s;
}

@keyframes move {
    0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
    }

    100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    }
}

@keyframes left {
    0% {
    opacity: 0;
    width: 0;
    }

    100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
    }
}

/* -----------------header--------------- */

.containerNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerNav .logo{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    padding-top: 5px;
    padding-left: 20px;
}

.menuBar{
    display: flex;
    flex-direction: row;
    color: #cd701c;
    list-style-type: none;
    margin-bottom: 50px;
    margin-top: 10px;
    height: 50px;
}

.menuBar li a{
    color: #cd701c;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 17px;
    text-transform: uppercase;
}

.menuBar li a:hover{
    background-image: linear-gradient(to right, #cd701c  0%, #cebe62   51%, #cd701c   100%);
    transition: 0.5s;           
    border-radius: 3px;
    color: #fff;
}

/* -----------------header Allview page--------------- */

.headerAllView{
    text-align: center;
    height: 250px;
}

h2{
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;
}

/* ---------------Get all view page ------------------- */

input[type="text"],
#avatar{
    height: 46px;
    padding: 0 16px;
    border: 2px solid rgba(54, 50, 50, 0.384);
    border-radius: 4px;
    outline: 0;
    transition: .2s;
    width: 340px;
    color: #cd701c;
    background: #697b8693;

}

input[type="text"]:focus,
#avatar:focus{
    border-color: #cd701c;
    transition: 0.6s ease-in-out;
}

input[placeholder]{
    font-family: 'Noto Serif Display', serif;
}

#form_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form_text label{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #cd701c;
}

/* --------------------input select---------------------- */

#race,
#idRace,
#idAnimal,
#animal{
    height: 46px;
    padding: 0 16px;
    border: 2px solid rgba(54, 50, 50, 0.384);
    border-radius: 4px;
    outline: 0;
    transition: .2s;
    width: 340px;
}

#race option{
    font-family: 'Noto Serif Display', serif;
}

/* #animal{
    height: 46px;
    padding: 0 16px;
    border: 2px solid rgba(54, 50, 50, 0.384);
    border-radius: 4px;
    outline: 0;
    transition: .2s;
    width: 340px;
} */


/* -------------------- Box hover---------------------- */
.listeAnimauxBody{
    background-image: url('https://images2.imgbox.com/39/a9/5LRz6ESs_o.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100%;
}

.resultatTitre{
    font-size: 30px;
    color: #cd701c;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px #333;
}

.boxAnimaux{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    margin: 5px;
    width: 200px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.74);
    overflow: hidden;
    padding-bottom: 10px;
    box-shadow: 0 19px 38px rgba(black, 0.3), 0 15px 12px rgba(black, 0.2);
    margin-bottom: 50px;
}

.boxImage{
    position: relative;
}

.boxImage img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    box-sizing: border-box;
}

.boxDescription{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
}

.boxDescription h5{
    font-size: 30px;
    color: #cd701c;
    text-shadow: 3px 3px 3px #333;
}

.boxDescription p{
    color: #cebe62;
    font-size: 18px;
    text-align: center;
}

.boxImage:hover,
.boxImage:hover .boxDescription{
    visibility: visible;
    transition: all ease-in-out 0.6s;
    animation: animation_box 0.5s;
    
}

.boxImage:hover{
    transform: scale(1.03);
    transition: all ease-in-out 0.6s;
}

@keyframes animation_box{
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

/* ------------------------Formulaire AddOne--------------------------------- */

.bodyAddOne{
    background-image: url('https://images2.imgbox.com/75/18/ImkAEBE3_o.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.containerAddOne{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.addOneFormulaire{
    width: 500px;
    padding: 10px;
    background-color: #0e161bda;
}

/* ------------------------Formulaire UpOne--------------------------------- */
.bodyUpOne{
    background-image: url('https://images2.imgbox.com/cb/93/Ay655tMs_o.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.containerUpOne{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.UpOneFormulaire{
    width: 500px;
    padding: 10px;
    background-color: #0e161bda;
}

h6 {
text-align: center;
font-weight: 25px;
color: #cd701c;
}

/* ------------------------deleteOne--------------------------------- */

.bodyDeleteOne{
    background-image: url('https://images2.imgbox.com/bb/32/mffKKytA_o.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.containerDeleteOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.deleteOneFormulaire{
    width: 500px;
    padding: 10px;
    background-color: #0e161bda;
}

.messageDelete{
    color: #cd701c;
    font-size: 20px;
    text-shadow: 3px 3px 3px #333;
}